.card {
    display: flex;
    padding: 1em .7em 1em 1em;
    border-radius: 1em;
    position: relative;
    min-height: 100px;
}

.nombreTipos {
    display: flex;
    flex-direction: column;
}

.nombreTipos h3 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

.card .imagen {
    position: absolute;
    right: -15px;
    top: 10px;
}

.card .tipo {
    color: #fff;
    background-color: rgba(255, 255, 230, 0.2);
    margin-bottom: 4px;
    border-radius: 20px;
    text-align: center;
    padding: 2px 10px;
    text-transform: capitalize;
    font-size: 14px;
    place-self: flex-start;
}

.card .tipos {
    display: flex;
    flex-shrink: wrap;
    flex-direction: column;
}